.btn-group-filter {
    font-size: 14px;
    margin-top: 1px;
    margin-left:20px;
    display: contents;
}

.butn {
    border-color: transparent;
    background-color: transparent;
}

.butn:hover{
    color: rgb(253, 1, 1);   
}

.butn.active{
    color:rgb(231, 129, 12)
}