.app {
    display: flex;
    align-items: center;
    height: 290px;
    background-image: url('../../img/header.jpg');
}

.to-do-list{
    width: 30%;
    padding-left: 0;
    position: absolute;
    top: 7%;
    right: 35%;
    left: 35%;
    bottom: 7%;
}


.del-button{
    display: flex;
    border:none;
    border-color: transparent;
    background-color: transparent;
    font-size: 14px;
    margin-top: 1px;
    margin-left:20px;
    width: 33%;
    justify-content: flex-end;
}